.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 35px;
}

.header .title-group {
    color: #008E98;
    padding-left: 30px;
    font-size: 1.2rem;
}

.header .title-group i {
    padding-right: 5px;
}