.sidenav {
    background-color: #008E98;
    width: 200px;
}

.sidenav a {
    color: #fff;
    transition: all ease 0.3s;
}

.sidenav a:hover {
    color: #f2a000;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}