.container {
  position: relative;
  min-height: 44vh;
  max-height: 44vh;
  overflow: auto;
}

.full-width-table {
  width: 100%;
}

.edit {
  color: #f2a000;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25vw;
}